<!DOCTYPE html>
<html lang="en">
  {% comment %} {% load static %} {% endcomment %}
  <head>
    <style>
      .nav{
      background-color: rgb(34,179,193);
      }
      .white-text {
      color: #fff!important;
      }
      footer.page-footer {
        bottom: 0;
        color: #fff;
      }
      .footer-copyright {
        overflow: hidden;
        background-color: rgba(0,0,0,.2);
        color: rgba(255,255,255,.6);
      } 
      .time-font {
          font-size: 15px;
      }
      *, ::after, ::before {
      box-sizing: border-box;
      }
      .text-center {
      text-align: center!important;
      }
      .my-2 {
      margin-top: 0.5rem!important;
      }
      .mb-2, .my-2 {
      margin-bottom: 0.5rem!important;
      }
      h6 {
      font-size: 1rem;
      line-height: 1.2;
      margin-top: 0;
      margin-block-start: 2.33em;
      margin-block-end: 2.33em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      display: block;
      }
      .row {
      display: flex;
      
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
      }
      .font-italic {
      font-style: italic!important;
      }
      .font-weight-bold {
      font-weight: 700!important;
      }
      .font-weight{
      font-weight: 500!important;
      }
          </style> 

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      
    <link href="../static/assets/images/logo.jpg" rel="icon">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <link href="../static/assets/images/logo.jpg" rel="icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <title>Travelo - Hotel2 </title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="../static/hotels/css/bootstrap.mini.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="../static/hotels/css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="../static/hotels/css/sstyle.css" rel="stylesheet">
  
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet">
      <link rel="stylesheet" href="../static/hotels/css/open-iconic-bootstrap.min.css">
      <link rel="stylesheet" href="../static/hotels/css/animated.css">
      <link rel="stylesheet" href="../static/hotels/css/owl.carousel.min.css">
      <link rel="stylesheet" href="../static/hotels/css/owl.theme.default.min.css">
      <link rel="stylesheet" href="../static/hotels/css/magnific-popup.css">
      <link rel="stylesheet" href="../static/hotels/css/aos.css">
      <link rel="stylesheet" href="../static/hotels/css/ionicons.min.css">
      <link rel="stylesheet" href="../static/hotels/css/bootstrap-datepicker.css">
      <link rel="stylesheet" href="../static/hotels/css/jquery.timepicker.css">
      <link rel="stylesheet" href="../static/hotels/css/flaticoned.css">
      <link rel="stylesheet" href="../static/hotels/css/icomoon.css">
      <link rel="stylesheet" href="../static/hotels/css/styleed.css">
  </head>

<body>

  
  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

 <!-- ***** Header Area Start ***** -->
 <nav class="navbar navbar-expand-lg navbar-dark nav pt-1 pb-0 px-5" aria-label="Offcanvas navbar large">
  <div class="container-fluid">
    <div id="header">
      <img id="logo" src="../static/assets/images/logoo.png" style="height: 75px; margin-left: -10px; margin-right: 10px; padding-top: 6px; padding-bottom: 6px;">
    </div>
    <a class="navbar-brand mr-5 pe-3" style="font-weight: 700;" href="/">TRAVELO PAK</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar2" aria-labelledby="offcanvasNavbar2Label">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbar2Label">TRAVELO PAK</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
    <div class="offcanvas-body" id="basicExampleNav">
      <ul class="navbar-nav justify-content-end flex-grow-1 ps-3" style="padding-right: 70px;">
        <li class="nav-item">
          <a class="nav-link active pe-3 font-weight" class="active" aria-current="page"  href="/tour_destination">Destinations</a>
        </li>
      <li class="nav-item">
        <a class="nav-link active pe-3 font-weight" class="active" aria-current="page"  href="/hotels_view">Hotels </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active pe-3 font-weight" class="active" aria-current="page"  href="/season">Directions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active pe-3 font-weight" aria-current="page" href="/companies">Companies</a>
      </li>
     
    </ul> 
   
    <div class="search h-100 mr-3">
      <form action="{% url 'searching' %}" method="get" class="d-flex">
        {% csrf_token %}
          <input style="border-radius: 5px;" class="form-control" type="text" name="query" placeholder="Search" aria-label="Search" button class="btn" type="submit"></button>	
      </form>
        </div>
   
        <ul class="navbar-nav justify-content-end flex-grow-1 ps-1">
        
          {% if user.is_authenticated %}
          <li class="nav-item">
           <a class="nav-link active font-weight" aria-current="page" href=""><span class="fa fa-user"></span>&nbsp{{user.first_name}}</a>
         </li>
          <li class="nav-item">
           <a class="nav-link active font-weight" aria-current="page" href="/logout"><span class="fa fa-sign-out-alt"></span>&nbspLogout</a>
         </li>
         {% else %}
         <li class="nav-item">
           <a class="nav-link active ps-1 font-weight" aria-current="page" href="/login"><span class="fa fa-user"></span> Login</a>
         </li>
         <li class="nav-item">
           <a class="nav-link active ps-1 font-weight" aria-current="page" href="/register"> <span class="fa fa-user"></span> Register</a>
         </li>
         {% endif %} 
 
       </ul>    
  </div>
</div>
</div>
</nav> 
<!-- ***** Header Area End ***** -->

  <div class="block-31" style="position: relative;">
    <div class="owl-carousel loop-block-31 ">
      <div class="block-30 item" style="background-image: url('../static/hotels/img/pcroomk1.jpg');" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-10">
              <h2 class="heading">ACCOMMODATION</h2>
              </div>
          </div>
        </div>
      </div>
      <div class="block-30 item" style="background-image: url('../static/hotels/img/1496386399-serena-hotel.jpg');" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-10">
              <h2 class="heading">ACCOMMODATION</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="block-30 item" style="background-image: url('../static/hotels/img/171238422_TD5uNQK9KJyOw11Wp9Ob44tjGxmD1N5guGlCW8OcPfo.jpg');" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-10">
              <h2 class="heading">DINING</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="block-30 item" style="background-image: url('../static/hotels/img/swimming-pool.jpg');" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-10">
              <h2 class="heading">FACILITIES</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="site-section block-13 bg-light">
      <div class="container">
         <div class="row mb-5">
            <div class="col-lg-12 col-md-6 col-sm-4 section-heading">
              <span class="subheading-sm">Featured Rooms</span>
              <h2 class="heading">Rooms &amp; Suites</h2>
              <p  style="text-align: justify;">Faisalabad’s rich personality and textile heritage is carefully woven into the design of each room. Lavish textures, hand-woven carpets and ornate woodwork are complemented by modern amenities designed to provide the utmost in elegance, comfort and convenience, including marble bathrooms, complimentary high-speed internet, minibars, 24-hour room service and flat screen TVs. Twin, queen-sized or king-sized beds are dressed in soft linens, while large soundproofed windows keep out any noise and allow plenty of natural light in. Most rooms afford inspiring views of the hotel’s gardens and patios.</p>
            </div>
          </div>
  
          <div class="row">
            <div class="col-md-12">
              <div class="nonloop-block-13 owl-carousel">
                  <div class="item">
                    <div class="block-34">
                      <div class="image">
                        <a href="#"><img src="../static/assets/images/pcroomk1.jpg" alt="Image placeholder" style="height: 190px;"></a>
                      </div>
                      <div class="text">
                        <h2 class="heading">Deluxe Room</h2>
                        <div class="price"><sup>$</sup><span class="number">200</span><sub>/per day</sub></div>
                        <p style="text-align: justify;">Each well-appointed Deluxe Room is styled with plush fabrics and elegant colours that highlight the city’s renowned textile heritage. King, queen or twin beds are piled high with soft white linens and plush drapes frame sparkling windows. Free high speed internet access and a host of modern amenities make this room the ideal environment for work or leisure.</p>
                        <p><a href="#" class="btn btn-primary py-3 px-5" style="width: 285px; border-color: #004789;" onMouseOver="this.style.color='#004789'" onMouseOut="this.style.color='white'">Book Now</a></p>
                      </div>
                    </div>
                  </div>
  
                  <div class="item">
                    <div class="block-34">
                      <div class="image">
                        <a href="#"><img src="../static/hotels/img/pcroomk2.jpg" alt="Image placeholder" style="height: 190px;"></a>
                      </div>
                      <div class="text">
                        <h2 class="heading">Executive Suite</h2>
                        <div class="price"><sup>$</sup><span class="number">360</span><sub>/per day</sub></div>
                        <p style="text-align: justify;">In-Room Amenities, King-size bed, Writing table, Separate sitting room with dining table, Complimentary high-speed wireless internet, Complimentary newspaper, Air conditioning and central heating, Flat-screen HD TV cable and satellite channels, In Room Dining Menu, Valet, laundry and shoe shine service, Dual-line telephones and Hairdryer Tea and Coffee making facility</p>
                        <p><a href="#" class="btn btn-primary py-3 px-5" style="width: 285px; border-color: #004789;" onMouseOver="this.style.color='#004789'" onMouseOut="this.style.color='white'">Book Now</a></p>
                      </div>
                    </div>
                  </div>
  
                  <div class="item">
                    <div class="block-34">
                      <div class="image">
                        <a href="#"><img src="../static/hotels/img/HAC-Suites-030.jpg" alt="Image placeholder" style="height: 190px;"></a>
                      </div>
                      <div class="text">
                        <h2 class="heading">Presidential Suite</h2>
                        <div class="price"><sup>$</sup><span class="number">420</span><sub>/per day</sub></div>
                        <p style="text-align: justify;">Any guest staying in the Presidential Suite will find themselves immersed in absolute peace and tranquillity. In this warmly elegant suite guests can lie back on the king-sized bed dressed in snow-white linens. The suite also features a handsome living and dining area, writing table, powder room and marble bathroom stocked with the hotel’s own brand. A true home away from home.</p>
                        <p><a href="#" class="btn btn-primary py-3 px-5" style="width: 285px; border-color: #004789;" onMouseOver="this.style.color='#004789'" onMouseOut="this.style.color='white'">Book Now</a></p>
                      </div>
                    </div>
                  </div>
  
              </div>
    
            </div> <!-- .col-md-12 -->
          </div>
      </div>
    </div>
  
    <div class="site-section bg-light">
      <div class="container">
        <div class="row mb-5">
            <div class="col-md-7 section-heading">
              <span class="subheading-sm">Hospitality meets Culture and Tradition</span>
              <h2 class="heading">FACILITIES</h2>
            </div>
          </div>
  
        <div class="block-35">
          
          <ul class="nav" id="pills-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Dining</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Offers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Experiences</a>
            </li>
          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
              <div class="row">
                <div class="col-md-12 block-13">
                  <div class="nonloop-block-13 owl-carousel">
                    <div class="item">
                      <div class="block-34">
                        <div class="image">
                          <a href="#"><img src="../static/assets/images/men1.JPG" alt="Image placeholder"></a>
                        </div>
                        <div class="text">
                          <h2 class="heading">LYALLPUR COFFEE SHOP</h2>
                        <p style="text-align: justify;">Steps from the hotel’s main lobby on the ground floor, the Lyallpur Restaurant caters for breakfast, lunch, high tea and dinner buffets. It is perfect for a long lunch with family and friends, a sophisticated evening meal or business meetings. Guests are treated to a tempting array of speciality dishes, ranging from traditional Pakistani flavours using the best local produce to popular continental cuisine.</p>
                        <p><a href="#" class="btn btn-primary py-3 px-5" style="width: 285px; border-color: #004789;" onMouseOver="this.style.color='#004789'" onMouseOut="this.style.color='white'">Book A Table</a></p>
                      </div>
                      </div>
                    </div>
  
                    <div class="item">
                      <div class="block-34">
                        <div class="image">
                          <a href="#"><img src="../static/assets/images/men2.JPG" alt="Image placeholder"></a>
                        </div>
                        <div class="text">
                          <h2 class="heading">RAKAPOSHI COURTYARD</h2>
                        <p style="text-align: justify;">Savour the sizzling flavours of wood-fired brick oven pizzas, authentic Arabic wraps and pasta dishes at Rakaposhi Courtyard. Located beside the lobby, it provides a convivial spot to dine. Guests can choose to sit inside the restaurant or in the cosy atmosphere of the shaded patio outside.</p><pre> </pre><pre> </pre>
                        <p><a href="#" class="btn btn-primary py-3 px-5" style="width: 285px; border-color: #004789;" onMouseOver="this.style.color='#004789'" onMouseOut="this.style.color='white'">Book A Table</a></p>
                      </div>
                      </div>
                    </div>
  
                    <div class="item">
                      <div class="block-34">
                        <div class="image">
                          <a href="#"><img src="../static/assets/images/men5.JPG" alt="Image placeholder"></a>
                        </div>
                        <div class="text">
                         <h2 class="heading">ROOM SERVICE</h2>
                        <p style="text-align: justify;">The Serena Faisalabad Hotel invites you to dine in the comfort of your room or suite at any time of day or night with our 24-hour in-room dining. Serving both Pakistani and Continental dishes, our menus cater to visitors on any timetable.</p><pre> </pre><br><br><pre> </pre>
                        <p><a href="#" class="btn btn-primary py-3 px-5" style="width: 285px; border-color: #004789;" onMouseOver="this.style.color='#004789'" onMouseOut="this.style.color='white'">Book A Table</a></p>
                      </div>
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
  
  
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
              <div class="row">
                <div class="col-md-12 block-13">
                  <div class="nonloop-block-13 owl-carousel">
                    <div class="item">
                      <div class="block-34">
                        <div class="image">
                          <a href="#"><img src="../static/assets/images/off1.JPG" alt="Image placeholder"  style="height: 250px;"></a>
                        </div>
                        <div class="text">
                         <h2 class="heading">RAMADAN KAREEM</h2>
                        <p style="text-align: justify;">Sehri : PKR 950   |    Iftar Dinner : PKR 2,400 <br> Price is subject to taxes <br> Live Cooking <br> For reservations, please contact: (041) 111-133-133</p><pre> </pre><pre> </pre><br><br><pre> </pre>
                        <p><a href="#" class="btn btn-primary py-3 px-5" style="width: 285px; border-color: #004789;" onMouseOver="this.style.color='#004789'" onMouseOut="this.style.color='white'">Book Now</a></p>
                      </div>
                      </div>
                    </div>
  
                    <div class="item">
                      <div class="block-34">
                        <div class="image">
                          <a href="#"><img src="../static/assets/images/off2.JPG" alt="Image placeholder"  style="height: 250px;"></a>
                        </div>
                        <div class="text">
                         <h2 class="heading">SARENA VACATION PACKAGE</h2>
                        <p style="text-align: justify;">The Serena Faisalabad Hotel is pleased to offer its guests a Special Vacation Package. Rate includes free buffet breakfast for two, airport transfers, complimentary high-speed internet access and free accommodation for spouse plus two children under 12. <br> *Applicable for families on a minimum 2-night stay <br> *Not applicable for foreigners
                        <p><a href="#" class="btn btn-primary py-3 px-5" style="width: 285px; border-color: #004789;" onMouseOver="this.style.color='#004789'" onMouseOut="this.style.color='white'">From $91 &nbsp; Book Now</a></p>
                      </div>
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
  
  
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
              <div class="row">
                <div class="col-md-12 block-13">
                  <div class="nonloop-block-13 owl-carousel">
                    <div class="item">
                      <div class="block-34">
                        <div class="image">
                          <a href="#"><img src="../static/assets/images/exp1.JPG" alt="Image placeholder" style="height: 320px;"></a>
                        </div>
                        <div class="text">
                         <h2 class="heading">ARCHITECTURE AND GARDENS</h2>
                        <p style="text-align: justify;">The guest experience is enhanced by the hotel’s remarkable design and peaceful garden setting that captures the true essence of Pakistani heritage. Experience a taste of the old city homes of Faisalabad when you admire the sophisticated and spacious interiors of the hotel featuring Chinioti sofas with vibrant local floral tapestry and traditional ceramic lamps.</p>
                        <p><a href="#" class="btn btn-primary py-3 px-5" style="width: 285px; border-color: #004789;" onMouseOver="this.style.color='#004789'" onMouseOut="this.style.color='white'">Book Now</a></p>
                        </div>
                      </div>
                    </div>
  
                    <div class="item">
                      <div class="block-34">
                        <div class="image">
                          <a href="#"><img src="../static/assets/images/exp2.JPG" alt="Image placeholder" style="height: 320px;"></a>
                        </div>
                        <div class="text">
                         <h2 class="heading">HOME AWAY FROM HOME</h2>
                        <p style="text-align: justify;">Our staff are proud of their reputation for providing professional, attentive and personalised service to all our guests to ensure their expectations and desires are met. Our Guest Relations Office is at your disposal to assist you throughout your stay. They can reconfirm your return flight, send a package, recommend a restaurant, or provide you with a detailed guide for the best shops in Faisalabad. The choice is endless.</p>
                        <p><a href="#" class="btn btn-primary py-3 px-5" style="width: 285px; border-color: #004789;" onMouseOver="this.style.color='#004789'" onMouseOut="this.style.color='white'">Book Now</a></p>
                        </div>
                      </div>
                    </div>
  
                    <div class="item">
                      <div class="block-34">
                        <div class="image">
                          <a href="#"><img src="../static/assets/images/exp3.JPG" alt="Image placeholder"></a>
                        </div>
                        <div class="text">
                         <h2 class="heading">MAISHA HEALTH CLUB</h2>
                        <p style="text-align: justify;">The hotel’s state of the art health club and spa is a world of tranquillity and peace that promises to stimulate your senses, encourage relaxation and leave far behind the hustle and bustle of the city. The spa offers a range of treatments including massages, facials and holistic de-stressing therapies inspired by ancient rituals and healing practices. <br> Opening hours: Monday to Sunday 6:00 a.m. – 10:00 p.m.</p>
                        <p><a href="#" class="btn btn-primary py-3 px-5" style="width: 285px; border-color: #004789;" onMouseOver="this.style.color='#004789'" onMouseOut="this.style.color='white'">Book Now</a></p>
                      </div>
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
  
        </div>
      </div>
    </div>



      <!-- <footer> -->
        <footer class="page-footer center-on-small-only" style="background-color: #22b3c1">
          <div style="background-color: #004789;">
            <div class="container">
                <!-- Grid row-->
            <div class="row py-4 d-flex align-items-center">
              <!-- Grid column -->
              <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                <h6 style="font-weight: 300; font-size: 1rem; color: white;"class="mb-0">Get connected with us on social networks!</h6>
              </div>
              <!-- Grid column -->
              <!-- Grid column -->
              <div  class="ps-5  col-md-6 col-lg-7 text-center text-md-right">
    
                <!-- Facebook -->
                <a  class="ps-3 fb-ic">
                  <i class="fab fa-facebook-f white-text mr-4"> </i>
                </a>
                <!-- Twitter -->
                <a class="ps-4 tw-ic">
                  <i class="fab fa-twitter white-text mr-4"> </i>
                </a>
    ``            <!-- Google +-->
                <a class="ps-3 gplus-ic">
                  <i class="fab fa-google-plus-g white-text mr-4"> </i>
                </a>
                <!--Linkedin -->
                <a class="ps-3 li-ic">
                  <i class="fab fa-linkedin-in white-text mr-4"> </i>
                </a>
                <!--Instagram-->
                <a class="ps-3 ins-ic">
                  <i class="fab fa-instagram white-text"> </i>
                </a>
    
              </div>
              <!-- Grid column -->
    
            </div>
            <!-- Grid row-->
    
          </div>
        </div>
    
         <!-- Footer Links -->
    
         <div style="background-color:#22b3c1;" class="container text-center text-md-left mt-5">
    
          <!-- Grid row -->
          <div class="row mt-3">
    
            <!-- Grid column -->
            <div class=" text-start col-md-2 col-lg-3 col-sm-1 mx-auto mb-4">
    
              <!-- Content -->
              <h6 class="text-uppercase font-weight-bold white-text" style="font-family: Arial;">Online Guider For Pak Tourism</h6>
              <hr class="deep-purple accent-2 mb-4 mt-2 d-inline-block mx-auto" style="width: 60px;">
              <p>Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit amet, consectetur
                adipisicing elit.</p>
    
            </div>
            <!-- Grid column -->
    
            
    
            <!-- Grid column -->
            <div class="text-start col-md-2 col-lg-3 col-sm-1 mx-auto mb-4">
    
              <!-- Links -->
              <h6 class="text-uppercase font-weight-bold white-text" style="font-family: Arial;">Useful links</h6>
              <hr class="deep-purple accent-2 mb-4 mt-2 d-inline-block mx-auto" style="width: 60px;">
              <p>
                <a  href="#!">Your Account</a>
              </p>
              <p>
                <a href="#!">Become an Affiliate</a>
              </p>
              <p>
                <a href="#!">Shipping Rates</a>
              </p>
              <p>
                <a href="#!">Help</a>
              </p>
    
            </div>
            <!-- Grid column -->
    
            <!-- Grid column -->
            <div class="text-start col-md-2 col-lg-3 col-sm-1 mx-2 mb-4">
    
              <!-- Links -->
              <h6 class="white-text text-uppercase font-weight-bold" style="font-family: Arial;">Contact</h6>
              <hr class="deep-purple accent-2 mb-4 mt-2 d-inline-block mx-auto" style="width: 60px;">
              <p >
                <i class="fas fa-home mr-3 pe-2"></i> UAF, Faislabad, Pakistan</p>
              <p>
                <i class=" fas fa-envelope mr-3 pe-2"></i> creative@gmail.com</p>
              <p>
                <i class="fas fa-phone mr-3 pe-2"></i> + 92 301 2345678 </p>
            </div>
            <!-- Grid column -->
    
          </div>
          <!-- Grid row -->
    
        </div>
        <!-- Footer Links -->
    
        <div  class="footer-copyright text-center py-3">© 2018 Copyright:
          <a style="color: white;"href="Pakistan Tourist Community"> PKtouristcommunity.com</a>
        </div>
      </footer>
    <!-- </footer> -->
    
    <script src="../static/hotels/js/jquery.min.js"></script>
    <script src="../static/hotels/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="../static/hotels/js/popper.min.js"></script>
    <script src="../static/hotels/js/bootstrap.min.js"></script>
    <script src="../static/hotels/js/jquery.easing.1.3.js"></script>
    <script src="../static/hotels/js/jquery.waypoints.min.js"></script>
    <script src="../static/hotels/js/jquery.stellar.min.js"></script>
    <script src="../static/hotels/js/owl.carousel.min.js"></script>
    <script src="../static/hotels/js/jquery.magnific-popup.min.js"></script>
    <script src="../static/hotels/js/bootstrap-datepicker.js"></script>
    
    <script src="../static/hotels/js/aos.js"></script>
    <script src="../static/hotels/js/jquery.animateNumber.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="../static/hotels/js/google-map.js"></script>
    <script src="../static/hotels/js/main.js"></script>
    <!-- JQuery -->
    <script type="text/javascript" src="../static/hotels/js/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="../static/hotels/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="../static/hotels/js/bootstrap.mini.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="../static/hotels/js/mdb.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>

  </body>

</html>